body {
  margin: 0;
  min-width: 800px;
  padding-top: 50px;
  height: 100vh;
  box-sizing: border-box;

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background-image: url("../img/1638236757-1001.jpg");
  background-position: center;
  background-size: cover;
}

.output {
  display: block;
  margin: 0 auto 50px;
  width: 684px;
  height: 267px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  width: 793px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 6px;

  border: 3px solid black;
  border-radius: 5px;
  background-color: lightslategrey;
  color: rgba(245, 245, 245, 1);;
}

.row {
  display: flex;
  column-gap: 6px;
}

.key,
.func-key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(247, 104, 70, 0.6);
  }
  
  &:active {
    background-color: rgba(247, 104, 70, 1);
    color: rgba(245, 245, 245, 0.4);
  }
}

.key {
  background-color: #444444;
}

.func-key {
  background-color: #272525;

  &--backspace,
  &--capslock,
  &--shiftleft {
    width: 112px;
  }

  &--tab {
    width: 56px;
  }

  &--delete{
    width: 50px;
  }

  &--enter,
  &--shiftright {
    width: 95px;
  }

  &--space {
    width: 367px;
    background-color: #444444;
  }
}

.active {
  background-color: rgba(247, 104, 70, 1);
  color: rgba(245, 245, 245, 0.4);
}


//! style for add/remove by js

//* change language

.russian .en {
  display: none;
}

.english .ru {
  display: none;
}

//* visible only lowercase

.capslk,
.shift {
  display: none;
}

//* turn on/off capslock

.on-capslock .lowercase {
  display: none;
}

.on-capslock .capslk {
  display: inline-block;
}

//* turn on/off shift

.on-shift .lowercase {
  display: none;
}

.on-shift .shift {
  display: inline-block;
}
